@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 



body {
    
   overflow-y:hidden;
    font-family: sans-serif;
}
.flex {
    display: flex;
    margin-bottom: 2rem;
    
}

.flex-center {
   justify-content: center;
   align-items: center;
}

.flex-space-around {
    justify-content: space-around;
}
.flex-col {
    flex-direction: column;
}


html, body { height: 100%; }
